body {
	background: rgba(25, 200, 25, 1);
	display: flex;
	flex-wrap: wrap;
	margin: 1pt;
}
header {
	background: rgba(25, 255, 25, 0.5);
	border: 1pt solid rgba(0, 0, 0, 1);
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 0pt 2pt;
	border-radius: 5%;
}
.header {
	padding: 1pt 2pt;
	text-align: center;
	margin: auto;
}
.external-links {
	font-weight: 600;
	line-height: 2pt;
}
.link-lines {
}
main {
	margin: 1pt;
	background: rgba(100, 200, 100, 0.5);
	border: 1pt solid rgba(0, 0, 0, 1);
	border-radius: 5%;
}
h1 {
	line-height: 1;
	text-align: center;
}
#body {
	text-align: center;
}
.body-parts {
	margin: 1pt;
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}
h2 {
	line-height: 1;
}

h3 {
	line-height: 1;
}
#hmpstr-pic {
	border: 1pt solid rgba(0,0,0,1);
	margin: 1pt;
}
.body-members {
	font-size: 14pt;
	overflow-wrap: break-word;
}
#message-box {
	margin: auto;
}
#p {
	width: 80%;
}
footer {
	background: rgba(25, 255, 25, 0.5);
	border: 1pt solid rgba(0, 0, 0, 1);
	display: flex;
	margin: 1pt;
	border-radius: 5%;
}
#copyright {
	margin: auto;
	font-weight: 600;
	font-size: 12pt;
}
